ul {
    list-style-type: none;
    display: block;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.burger-btn {
    display: block;
    margin-left: auto;
    font-size: 2.5rem;
}

.navbar {
    box-shadow: 0 1px 10px rgba(50, 50, 50, .18);
}

.container {
    display: flex;
}

.nav-li {
    display: flex;
    margin: auto;
}

.brand {
    margin: 0;
}

.nav-item {
    margin: 0px 30px;
}

.nav-left {
    padding-left: 0rem;
}

.nav-right {
    padding-right: 0rem;
}



.brand-txt {
    text-align: center;
}

.brand-title {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 5px;
}

.brand-subtitle {
    font-size: 14px;
    color: #888;
    margin-bottom: 16px;
}