<div class="header">
    <div class="hero">
        <div class="image">
        </div>
        <div class="socials">
            Socials
        </div>
        <div class="header-content">
            <h4 class="header-subtitle">Hello, I am</h4>
            <h1 class="header-title">Dipanshu Shukla</h1>
            <h6 class="header-mono">Full Stack Developer | UX Designer</h6>
            <button class="btn">
                View Resume <span class="material-symbols-outlined">
                    arrow_outward
                </span>
            </button>
        </div>
    </div>
</div>