<div class="header">
    <div class="hero">
        <div class="image">
        </div>
        <div class="socials">
            <a href="#"><i class="bi bi-facebook social-ico"></i></a>
            <a href="#"><i class="bi bi-instagram social-ico"></i></a>
            <a href="#"><i class="bi bi-twitter-x social-ico"></i></a>
            <a href="#"><i class="bi bi-linkedin social-ico"></i></a>
            <a href="#"><i class="bi bi-github social-ico"></i></a>
        </div>
        <div class="header-content">
            <h4 class="header-subtitle">Hello, I am</h4>
            <h1 class="header-title">Dipanshu Shukla</h1>
            <h6 class="header-mono">Full Stack Developer | UX Designer</h6>
            <button class="btn">
                View Resume &nbsp;<i class="bi bi-box-arrow-up-right"></i>
            </button>
        </div>
    </div>
</div>