.section {
    padding: 80px 0;
}
.card .card-header {
    background: transparent;
    border: none;
}
.line {
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: #F85C70;
}

.card {
    margin-bottom: 28px;
}
.card-exp{
    height: calc(100% - 28px);
}